<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77600713485-tp4jf5iqrifo9dlnfn7de35io9gjef7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77600713485-tp4jf5iqrifo9dlnfn7de35io9gjef7j</string>
	<key>API_KEY</key>
	<string>AIzaSyCYcn6db06FjoJ69jvQYh02iX_geEezVIw</string>
	<key>GCM_SENDER_ID</key>
	<string>77600713485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evankalaw.HotSpot</string>
	<key>PROJECT_ID</key>
	<string>hotspot-dbdec</string>
	<key>STORAGE_BUCKET</key>
	<string>hotspot-dbdec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77600713485:ios:dec69e15bd625c73</string>
	<key>DATABASE_URL</key>
	<string>https://hotspot-dbdec.firebaseio.com</string>
</dict>
</plist>